<body>
  <mat-toolbar style="margin-bottom:6%">
    <span>Promena podataka o roli</span>
    <span style="flex: 1 1 auto"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="service.formIzmeni" class="normal-form" (submit)="onSubmit()" style="margin:0 auto">
    <div class="row">
      <div class="col-2 ml-5 mr-4">
        <div class="controls-container">

          <mat-form-field class="example-full-width">
            <input id="polje" formControlName="rolaId" matInput placeholder="RolaId" readonly>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input formControlName="naziv" matInput placeholder="Naziv">
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit" style="width:383px">Potvrdi</button>
    </div>
  </form>
</body>
